<h1>Saved Articles</h1>
<h3 class="saved-headline"></h3>
{{#each articleView}}
{{#if saved}}
<h3 class="articleTitleSaved"><strong>Title:</strong> {{this.title}}</h3>
<p class="articleSummarySaved"><strong>Summary:</strong> {{this.summary}}</p>
<a href="{{this.link}}"></a>
<p class="articleLinkSaved"><strong>Link:</strong> <a href="{{this.link}}" "target=_blank">{{this.link}}</a></p>
<img src="{{this.image}}" alt="">
<button class="not-saved" data-id="{{this._id}}">Delete from Saved</button>
<h4>Article Notes</h4>
<form id="save-form">
    <input class="note-text{{this._id}}" type="text">
    <input class="submitNote" data-id="{{this._id}}" type="submit">
</form>
<input class="viewNote" data-id="{{this._id}}" type="submit" value="View Note">
<div class="viewNoteText-{{this._id}}"></div>
{{/if}}
{{/each}}