<header id="navbar">
    <div class="headerTitleDiv">
        <h1 class="mainHeader">Real Madrid Fan Scraper</h1>
    </div>
    <div class="navContainer">
        <nav class="navItems">
            <a class="nav-item" href="/">Home</a> |
            <a class="nav-item" href="/saved">Saved RM Articles</a>
        </nav>
        <a class="nav-button" href="/scrape"><button class="scrapeBtn">Scrape New RM Articles</button></a>
    </div>
</header>
<main class="mainContainer">
    <h3 class="main-headline"></h3>
    <h1>Real Madrid News</h1>
    <div class="main-articles">

        {{#each articleView2}}
        {{#unless saved}}
        <div class="card-container">
            <h3 class="articleTitle"> {{this.title}}</h3>
            <p class="articleSummary"> {{this.summary}}</p>
            <a href="{{this.link}}" target="_blank">More info</a>
            <img class="articleImage" src="{{this.image}}" alt="Article Image">
            <button class="saved" data-id="{{this._id}}">Save Article</button>
        </div>

        {{/unless}}
        {{/each}}

    </div>
</main>